
$in-transition : 0.08s ease-out all;
$out-transition : 0.1s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
$botton-size : 16px;
$botton-active-size : 25px;
$botton-edge-gap : 3px;
$container-h : 20px;
$container-w : 40px;
$color : #03A9F4;

.ax-toggle-cover,
.ax-toggle-button,
.ax-toggle-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkbox-button.button {
  position: relative;
  width: $container-w;
  height: $container-h;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -1em;
}

.button.r,
.button.r {
   .ax-toggle-layer {
     border-radius: 100px;
   }
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.ax-toggle-button {
  z-index: 2;
}

.ax-toggle-layer {
  width: 100%;
  background-color: #eee;
  border: 1px solid #ddd;
  transition: $in-transition;
  z-index: 1;
  padding: 0px;
}

.checkbox-button .ax-toggle-button:before {
  content: '';
  position: absolute;
  top: 2px;
  left: $botton-edge-gap;
  width: $botton-size;
  height: $botton-size;
  color: #fff;
  font-size: 9px;
  text-align: center;
  line-height: 1;
  background-color: #ccc;
  border-radius: 50%;
  transition: $out-transition;
}

.checkbox-button .checkbox:active+.ax-toggle-button:before {
  width: $botton-active-size;
  border-radius: 100px;
}

.checkbox-button .checkbox:checked:active+.ax-toggle-button:before {
  margin-left: -10px;
}

.checkbox-button .checkbox:checked+.ax-toggle-button:before {
  content: '';
  left: ($container-w - $botton-size)-$botton-edge-gap;
  background-color: $color;
}

.checkbox-button .checkbox:checked~.ax-toggle-layer {
  background-color: #eee;
}


//Flat Mode

.checkbox-button.button.flat {
  .ax-toggle-button:before{
    border-radius: 0;
  }
  .ax-toggle-layer {
    border-radius: 0;
  }
}

//Colors
$themes : #673AB7,//purple
#3F51B5,//indigo
#E91E63, //pink
#f44336,//red
#00BCD4, //cyan
#4CAF50, //green
#FFEB3B, //yellow
#FFC107, //amber
#FF9800, //orange
#795548; //brown

$themes-name :
_purple,
_indigo,
_pink,
_red,
_cyan,
_green,
_yellow,
_amber,
_orange,
_brown;

@for $i from 1 to length($themes) {
  .checkbox-button.#{ nth($themes-name, $i) } .checkbox:checked+.ax-toggle-button:before{
    background-color: nth($themes, $i);
  }
}
