.ax-toggle-cover,
.ax-toggle-button,
.ax-toggle-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkbox-button.button {
  position: relative;
  width: 40px;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -1em;
}

.button.r,
.button.r .ax-toggle-layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.ax-toggle-button {
  z-index: 2;
}

.ax-toggle-layer {
  width: 100%;
  background-color: #eee;
  border: 1px solid #ddd;
  transition: 0.3s ease all;
  z-index: 1;
  padding: 0px;
}

/* Button 3 */
.checkbox-button .ax-toggle-button:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  color: #fff;
  font-size: 9px;
  text-align: center;
  line-height: 1;
  background-color: #ccc;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.checkbox-button .checkbox:active + .ax-toggle-button:before {
  width: 20px;
  border-radius: 100px;
}

.checkbox-button .checkbox:checked:active + .ax-toggle-button:before {
  margin-left: -5px;
}

.checkbox-button .checkbox:checked + .ax-toggle-button:before {
  content: '';
  left: 22px;
  background-color: #03A9F4;
}

.checkbox-button .checkbox:checked ~ .ax-toggle-layer {
  background-color: #eee;
}
